@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.cases {
  padding-bottom: 30px;
  &__container {
    @extend %container;
  }
  &__grid {
    display: grid;

    border-radius: 12px;
    background-color: $color-grey-bg;

    @include sm-min {
      grid-template-areas:
        "item-1 item-1 item-3 item-3 item-4"
        "item-2 item-2 item-3 item-3 item-4"
        "item-5 item-6 item-6 item-7 item-7";
      grid-template-columns: 1.5fr 0.5fr 1.5fr 0.5fr 2fr;
      grid-template-rows: auto 1fr;
    }
    @include sm {
      grid-auto-columns: repeat (1, 1fr);
    }
  }

  &__title {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-accent;

    font-size: 14px;
    font-weight: 700;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: $gap;

    border: 1px solid #ffffff;
    &-title {
      color: $color-main-soft;

      @include md-min {
        padding-bottom: $gap;

        font-size: 24px;
      }
      @include md {
        padding-bottom: 10px;

        font-size: 18px;
      }
    }
    &-company > a {
      color: $color-grey-text;

      font-size: 18px;
    }
  }
}
.item {
  &-header {
    @include sm-min {
      grid-area: item-1;
    }
  }
  &-hillel {
    @include sm-min {
      grid-area: item-2;
    }
  }
  &-wannabiz {
    @include sm-min {
      grid-area: item-3;
    }
  }
  &-tapgerine {
    @include sm-min {
      grid-area: item-4;
    }
  }
  &-3dlook {
    @include sm-min {
      flex-basis: 0;
      flex-grow: 1.7;

      grid-area: item-5;
    }
  }
  &-adtelligent {
    @include sm-min {
      flex-basis: 0;
      flex-grow: 2.3;

      grid-area: item-6;
    }
  }
  &-clikky {
    @include sm-min {
      flex-basis: 0;
      flex-grow: 3;

      grid-area: item-7;
    }
  }
}
