@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.publications {
  &__content {
    padding: $gap;
    &-title > a {
      padding-bottom: $gap-sm;

      color: $color-active-regular;

      font-size: 18px;
      font-weight: 500;
    }
    &-date {
      padding-top: $gap-sm;

      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-grey-text;

      font-size: 12px;
      font-weight: 700;
      line-height: 14px;

      @include xs-min {
        padding-bottom: $gap;

        border-bottom: 4px solid $color-grey-separator;
      }
    }
    &-description {
      padding-top: $gap;

      line-height: 1.38;

      @include xs {
        display: none;
      }
    }
  }
}
