@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.publications {
    padding-top: $gap-md;
    &__container {
        @extend %container;
    }
    &__page-link {
        position: relative;
        font-weight: 700;
        font-size: 14px;

        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-active-regular;
        &::after {
            position: absolute;
            right: -22px;
            bottom: 2px;

            width: 15px;
            height: 12px;

            content: "";

            background-image: url(../img/page-home/main/publications/publications-url-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__title {
    }
    &__grid {
    }
    &__item {
        &-title {
        }
        &-date {
        }
        &-description {
        }
        &-picture {
        }
        &-image {
        }
    }
}
