@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.services {
  position: relative;

  border-radius: 0 0 12px 12px;
  background: linear-gradient($color-gradient-supersoft);

  @include md-min {
    padding-bottom: 80px;
  }

  &__container {
    @extend %container;
  }

  &::after {
    position: absolute;
    right: 20px;
    bottom: -10px;
    left: 20px;

    height: 10px;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: $color-bg-services;
  }

  &::before {
    position: absolute;
    right: 40px;
    bottom: -20px;
    left: 40px;

    height: 10px;

    content: "";

    border-radius: 0 0 12px 12px;
    background-color: $color-bg-services2;
  }
  &__page-link {
    opacity: 0.5;
    color: $color-white;

    &::after {
      position: absolute;
      right: -18px;
      bottom: 2px;

      width: 15px;
      height: 12px;

      content: "";

      background-image: url(../img/page-home/main/services/page-link-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__title {
    @include sm-min {
      display: inline;
    }
  }
  &__grid {
    display: grid;

    @include md-min {
      padding-top: 70px;

      column-gap: $gap-md;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
    }
    @include md {
      padding-top: $gap;
    }
    @include md-xs {
      gap: $gap-md;
      grid-template-columns: repeat(2, 1fr);
    }
    @include xs {
      gap: $gap-md;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &-item {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: $gap;
    @include xs-min {
      grid-template-areas: "logo" "title" "des";
    }
    @include xs {
      align-items: center;

      grid-template-areas: "logo title" "des des";
      grid-template-columns: auto 1fr;
    }
    &__logo {
      grid-area: logo;
    }
    &__title {
      grid-area: title;
      @include md-min {
        font-size: 24px;
      }
      @include md {
        font-size: 18px;
      }
    }
    &__link {
      color: $color-active-regular;

      font-weight: 500;
    }
    &__description {
      color: $color-white;

      line-height: 1.44;

      grid-area: des;
      @include md-min {
        font-size: 18px;
      }
    }
  }
}
