@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.photo {
    max-height: 440px;
    background-image: url(../img/about-page/main/team.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include xs-min {
        margin-bottom: 80px;
    }
    @include xs {
        margin-bottom: $gap;
    }
    &__container {
        @extend %container;
    }

    &__header {
        min-height: 440px;
        min-width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        -webkit-text-fill-color: unset;
    }
    &__link {
        font-size: 96px;

        text-transform: uppercase;

        color: $color-white;
        font-weight: 700;
        opacity: 0.8;
        text-shadow: 0px 15px 30px $text-shadow;
        @include md-min {
            letter-spacing: 63px;
        }
        @include md-xs {
            letter-spacing: 40px;
            font-size: 48px;
        }
        @include xs {
            letter-spacing: 20px;
            font-size: 36px;
        }
    }
}
