@use "../../../presets" as *;
@use "../../../mixins" as *;

.homepage-header__content {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 100vh;

  &-title {
    position: relative;
    top: 150px;

    max-width: 600px;

    text-align: center;

    color: $color-white;

    font-size: 38px;
    font-weight: 500;
  }
}
