@use "../../../presets" as *;
@use "../../../mixins" as *;

.aboutpage-header {
    position: relative;

    @include xs-min {
        padding-bottom: 100px;
    }
    @include xs {
        padding-bottom: 35px;
    }
    &__grid {
        display: grid;
        align-items: center;
        justify-content: space-between;
        @extend %container;
        @include sm-min {
            padding-bottom: 75px;
            padding-top: 50px;

            gap: $gap;
            grid-template-areas: "logo actions" "logo menu";
        }
        @include sm {
            padding-bottom: 25px;
            padding-top: $gap;

            gap: $gap;
            grid-template-areas: "actions actions" "logo menu";
        }

        @include sm-min {
            padding-top: 50px;

            gap: $gap;
            grid-template-areas: "logo actions" "logo menu";
        }
        @include sm {
            padding-top: $gap;

            gap: $gap;
            grid-template-areas: "actions actions" "logo menu";
        }
    }
    &__grid > a {
        color: $color-white;
    }
}
