@use "../presets" as *;

%container {
  max-width: $ul;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

%text-liner-gradient-red {
  background: linear-gradient($color-gradient-red-text2);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

%lang-size {
  align-self: center;

  margin-right: -5px;
  padding: 5px;

  border-radius: 8px;
}
