@use "../../../presets" as *;
@use "../../../mixins" as *;

.aboutpage-header {
  &__wrapper {
    display: grid;
    align-items: baseline;

    @include md-min {
      column-gap: $gap-md;
      grid-template-areas: "title stat" "des stat";
      grid-template-columns: 640px auto;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: $gap;
    padding-left: $gap;

    @include md-xs {
      top: 100px;
    }
    @include xs {
      top: 140px;
    }
    &-title {
      margin: 0;
      padding-bottom: $gap;

      @extend %text-liner-gradient-red;
      @include md-min {
        font-size: 42px;

        grid-area: title;
      }
      @include md {
        font-size: 32px;
      }
    }
    &-description {
      padding-right: $gap;

      line-height: 1.43;

      @include md-min {
        font-size: 21px;

        grid-area: des;
      }
      @include md {
        font-size: 18px;
      }
    }
    &-statistic {
      @include md-min {
        grid-area: stat;
      }
    }
  }
}
