@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.card {
  &-hillel {
    @include md {
      grid-area: hilel;
    }
  }
  &-wannabiz {
    @include md {
      grid-area: wanna;
    }
  }
  &-tapgerine {
    @include md {
      grid-area: tap;
    }
  }
  &-3dlook {
    @include md {
      grid-area: look;
    }
  }
  &-orangear {
    @include md {
      grid-area: or;
    }
  }
  &-adtelligent {
    @include md {
      grid-area: ad;
    }
  }
  &-clickky {
    @include md {
      grid-area: cl;
    }
  }
  &-ecolease {
    @include md {
      grid-area: eco;
    }
  }
  &-infratek {
    @include md {
      grid-area: inf;
    }
  }
  &-citypark {
    @include md {
      grid-area: city;
    }
  }
  &-artprint {
    @include md {
      grid-area: art;
    }
  }
  &-ultimate {
    @include md {
      grid-area: ult;
    }
  }
}
