@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.clients {
  &__title {
    padding-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    color: $color-main;

    font-size: 14px;
    font-weight: 700;
  }
  &__grid {
    display: grid;

    @include md-min {
      grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    }
    @include md {
      grid-template: repeat(6, 1fr) / repeat(2, 1fr);
      grid-template-areas: "hilel wanna" "tap look" "eco cl" "or inf" "ult art" "city ad";
    }
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: $gap;
    padding-left: $gap;
    &-image {
      @include xs {
        width: 100%;
      }
    }
  }
}
