@use "../../presets" as *;

a {
    color: #ffffff;
}

.active {
    align-self: center;

    margin-right: -5px;
    padding: 5px;

    border-radius: 8px;
    background: $color-accent;
}

.active:hover {
    color: $color-white;
}

.page-header {
    position: relative;

    min-height: 100vh;

    background: linear-gradient($color-gradient-soft);

    &::after {
        content: "";
        background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
        position: absolute;
        min-height: 200px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &::before {
        content: "";
        background-image: url(../img/page-home/header/header-bg.svg);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 85vh;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &__grid {
        display: grid;
        align-items: center;
        justify-content: space-between;

        padding-top: 50px;

        gap: $gap;
        grid-template-areas: "logo actions" "logo menu";
    }

    &__button {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 20px;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
}
