@use "../../presets" as *;

.page-header {
    background: linear-gradient($color-gradient-soft);
    color: $color-white;
    &__grid {
        display: grid;
        grid-template-areas: "logo actions" "logo menu";
        gap: $gap;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
    }
    &__image {
        grid-area: logo;
    }
    &__logo {
    }

    &__button {
    }
    &__button-link {
    }
    &__button-image {
    }
}
