@use "../../../presets" as *;
@use "../../../mixins" as *;

.homepage-footer {
  padding-bottom: $gap-md;

  background-color: $color-grey-bg;

  &__container {
    border-top: 4px solid $color-grey-separator;

    @extend %container;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include md-min {
      padding-top: 30px;
    }
    @include md {
      align-items: center;
      flex-direction: column;

      padding-top: $gap;
    }
  }

  &__rights {
    color: $color-grey-text;

    @include md {
      padding-top: $gap;

      text-align: center;
    }
  }
}
.footer-actions {
  &__locations {
    display: flex;
    align-items: baseline;

    padding-bottom: $gap;

    column-gap: 50px;
    @include md {
      align-items: center;
      flex-direction: column;

      row-gap: $gap-sm;
    }
  }
  &__location {
    &-url {
      position: relative;

      color: $color-main;

      font-weight: 500;

      @include md-min {
        &::after {
          position: absolute;
          top: 6px;
          right: -30px;

          width: 6px;
          height: 6px;

          content: "";

          border-radius: 3px;
          background-color: $color-grey-text;
        }
      }
    }
    &-map {
      letter-spacing: 1px;
      text-transform: uppercase;

      color: $color-active-regular;

      font-size: 12px;
      font-weight: 700;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;

    column-gap: 25px;
    @include md {
      align-items: center;
      flex-direction: column;

      row-gap: $gap;
    }
  }
  &__contact {
    &-fb {
      position: relative;

      @include md-min {
        &::after {
          position: absolute;
          top: 17px;
          right: -15px;

          width: 6px;
          height: 6px;

          content: "";

          border-radius: 3px;
          background-color: $color-grey-text;
        }
      }
    }

    &-phone {
      position: relative;

      color: $color-main-alt;

      font-weight: 700;

      @include md-min {
        &::after {
          position: absolute;
          top: 6px;
          right: -16px;

          width: 6px;
          height: 6px;

          content: "";

          border-radius: 3px;
          background-color: $color-grey-text;
        }
      }
    }
    &-mail {
      color: $color-active-regular;

      font-weight: 700;
    }
  }
}
