@use "../../mixins" as *;
@use "../../presets" as *;

.actions-white {
  display: flex;
  align-items: center;

  column-gap: 25px;
  grid-area: actions;
  @include sm {
    justify-content: space-between;
  }

  &__languages {
    position: relative;

    display: flex;
    align-items: center;

    padding-top: 4px;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    column-gap: $gap-sm;

    &-active {
      align-self: center;

      margin-right: -5px;
      padding: 5px;

      border-radius: 8px;
      background: $color-accent;
    }
    &-active:hover {
      @include sm-min {
        color: $color-white !important;
      }
    }
  }

  &__languages::after {
    position: absolute;
    top: 12px;
    right: -16px;

    width: 6px;
    height: 6px;

    content: "";

    border-radius: 6px;
    background-color: $color-grey-separator;

    @include sm {
      display: none;
    }
  }
  &__language {
    &-ua {
      color: $color-white;
    }
    &-ru {
      color: $color-white;

      @include sm {
        color: $color-grey-text;
      }
    }
    &-en {
      color: $color-white;

      @include sm {
        color: $color-grey-text;
      }
    }
  }

  &__locations {
    position: relative;

    font-weight: 400;

    @include sm {
      display: none;
    }
  }

  &__locations::after {
    position: absolute;
    top: 7px;
    right: -16px;

    width: 6px;
    height: 6px;

    content: "";

    border-radius: 6px;
    background-color: $color-grey-separator;

    @include sm {
      display: none;
    }
  }
  &__location {
    &-url {
      color: $color-white;
    }
  }

  &__phones {
    position: relative;

    font-weight: 700;
  }
  &__phone {
    &-url {
      color: $color-white;
    }
  }

  &__phones::after {
    position: absolute;
    top: 7px;
    right: -16px;

    width: 6px;
    height: 6px;

    content: "";

    border-radius: 6px;
    background-color: $color-grey-separator;

    @include sm {
      display: none;
    }
  }

  &__phone-url {
    @include sm {
      color: $color-grey-text;
    }
  }

  &__socials {
    @include sm {
      display: none;
    }
  }
}
