$color-main: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;
$color-black: #000000;
$color-white: #ffffff;
$color-accent: #f0145a;
$color-active-regular: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;
$color-grey-bg: #f5f5fa;
$color-grey-bg-alt: #ededf7;
$color-grey-text: #b3b3ba;
$color-grey-separator: #e6e6f0;
$color-bg-services: #cacadb;
$color-bg-services2: #e7e7f2;

$color-gradient1: #a54b5f;
$color-gradient2: #7a425e;
$color-gradient3: #693264;
$color-gradient4: #643e72;
$color-gradient5: #ef8080;
$color-gradient-text: 90deg, $color-gradient5 35%, $color-accent 100%;
$color-gradient-header: 180deg, rgba(50, 50, 100, 0) 16.67%, $color-main 100%;
$color-gradient: 130deg, $color-main 0, $color-main 74%, $color-gradient1 100%;
$color-gradient-soft: 40deg, $color-main, $color-main 51%, $color-gradient2 87%;
$color-gradient-red: 120deg, $color-accent 30%, $color-gradient3 107%;
$color-gradient-supersoft: 210deg, $color-main, $color-main 57%, $color-gradient4 87%;
$color-gradient-red-text: 90deg, $color-accent 1%, $color-gradient5 60%;
