@use "../presets" as *;
@use "../mixins" as *;

.indicators {
  display: flex;
  justify-content: center;

  column-gap: 15px;
}
.indicator {
  width: 16px;
  height: 16px;

  cursor: pointer;

  opacity: 0.2;
  border-radius: 8px;
  background-color: $color-active-regular;
  &.active {
    opacity: 1;
  }
}
.indicator:hover {
  transition: 0.3s;

  opacity: 1;
  background-color: $color-active-regular;
}

.link {
  position: relative;

  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 14px;
}
.link-active {
  color: $color-accent !important;
  border-bottom: 2px solid $color-accent;
}
.indicator-hide {
  @include xs-min {
    display: none;
  }
  @include xs {
    display: block;
  }
}
