@use "../presets" as *;
@use "../mixins" as *;

.hero {
  font-size: 42px;
  line-height: 50px;
}
.indicators {
  display: flex;
  justify-content: center;

  column-gap: 15px;
}
.indicator {
  width: 16px;
  height: 16px;

  opacity: 0.2;
  border-radius: 8px;
  background-color: $color-active-regular;

  &.active {
    opacity: 1;
  }
}
