@use "../presets" as *;
@use "../mixins" as *;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

body {
  transition: transform 0.25s;

  &.active {
    overflow: hidden;

    transform: translateX(-$mobile-menu-size);

    &::before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      content: "";

      background-color: rgba($color-black, 0.5);
    }
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: $color-accent !important;
  transition: 0.3s;
}
h2 {
  background: linear-gradient($color-gradient-red-text2);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  @include md-min {
    font-size: 42px;
  }
  @include md {
    font-size: 32px;
  }
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: $color-main;
  font-size: 14px;
  font-weight: 700;
}
