@use "../presets" as *;
@use "../mixins" as *;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

body {
  transition: transform 0.25s;

  line-height: 1.2;

  &.active {
    overflow: hidden;

    transform: translateX(-$mobile-menu-size);

    &::before {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      content: "";

      background-color: rgba($color-black, 0.5);
    }
  }
}

h1,
h2,
h3,
h3.caps,
h4 {
  margin: 0;

  color: $color-white;
}

a {
  text-decoration: none;
}

a:hover {
  color: $color-accent;
}
