@use "../../../presets" as *;
@use "../../../mixins" as *;

.homepage-header__content {
  position: relative;
  bottom: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  &-title {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $gap;
    margin: 0;
    width: 100%;

    max-width: 600px;

    text-align: center;

    color: $color-white;

    font-size: 38px;
    font-weight: 500;
  }
  &-image {
    transform: translateY(30%);
  }
}
