@use "../../../presets" as *;
@use "../../../mixins" as *;

.homepage-header {
  position: relative;

  background: linear-gradient($color-gradient-soft);

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    min-height: 200px;

    content: "";

    background: linear-gradient($color-gradient-header);
  }

  &::before {
    @include sm-min {
      content: "";

      background-image: url(../img/page-home/header/header-bg.svg);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 85vh;

      @include abs-position;
    }
  }

  &__grid {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
  }

  &__button {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 20px;
    left: 0;

    display: flex;
    justify-content: center;
  }
}
circle:hover,
path:hover {
  stroke: $color-accent;
}
